<main>
  <div class="container">
    <section class="intro mt-5 p-5">
      <div class="mt-5"></div>
      <h1 class="text-center">Why work with us?</h1>
      <p>
        <h5 class="text-center">
          <p>Notary Junction provides a host of notary tools to help you collaborate
            better with those who need your expertise.
          </p>
          <p>We offer both free and paid plans depending on your goals. As one of
            our valued notaries, you'll have access to more than just the benefits
            of <strong>broader market coverage</strong>, but a variety of tools
            to <strong>boost your success</strong> as demand for your services grows.
          </p>
        </h5>
      </p>
    </section>






    <section class="my-5">
      <h2 class="text-center my-5">Powerful features that <strong><i>grow</i></strong> your notary business</h2>
      <p class="lead grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.</p>
      <div class="row">
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-map-marker text-danger fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-lg-10 col-md-9 col-10">
              <h4>Robust Search Features</h4>
              <p class="grey-text">Our advanced search algorithm helps potential clients
                locate and hire you easier than ever before.
                Satisfied customers mean more revenue for our notaries.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-calendar-check-o text-secondary fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-lg-10 col-md-9 col-10">
              <h4>Signing Order Productivity</h4>
              <p class="grey-text">
                Clients often require real-time status updates on signing orders.
                We offer our notaries the flexibility of completing signing orders
                from their mobile phones with our proprietary technology.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-comments text-default fa-2x"></i>
            </div>
            <div class="col-lg-10 col-md-9 col-10">
              <h4>Collaborative Community</h4>
              <p class="grey-text">
                Have questions about how to bill clients or about specific
                signing-related scenarios? Our helpful community of notaries is
                here to assist. If you can't get an answer, we're here to assist as well.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-google text-primary fa-2x"></i>
            </div>
            <div class="col-lg-10 col-md-9 col-10">
              <h4>Google Technology</h4>
              <p class="grey-text">
                Our search algorithm uses the same geo-location technology as Google.
                You can rest assured knowing that your profile will always show
                up for the most relevant signing opportunities.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-bullhorn text-warning fa-2x"></i>
            </div>
            <div class="col-lg-10 col-md-9 col-10">
              <h4>Agency Review System</h4>
              <p class="grey-text">
                Choosing which signing agencies to work with can be a hassle.
                With our proprietary agency review system, you can quickly learn
                more about a particular signing agency before agreeing to a job.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-tachometer text-info fa-2x"></i>
            </div>
            <div class="col-lg-10 col-md-9 col-10">
              <h4>24/7 Customer Support</h4>
              <p class="grey-text">
                As notaries ourselves, we're in a unique position to offer service
                excellence to our notary clients. If you need assistance on your
                notary job, we're here to offer our expertise if you get stuck.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>









    <section class="team-section text-center my-5 p-5">
      <h2 class="text-center">What some of our notaries are saying</h2>
      <p class="dark-grey-text w-responsive mx-auto mb-5">
        Don't take our word for it. The Notary Junction database has roughly 32,000
        notaries from all over the country. We've helped them capture more signing
        business while developing trusted relationships with their clients. We can help you too.
      </p>
      <div class="row text-center">
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="testimonial">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1 img-fluid">
            </div>
            <h4 class="font-weight-bold dark-grey-text mt-4">Anna Deynah</h4>
            <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
              eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
            </p>
            <div class="orange-text">
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star-half"> </i>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="testimonial">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
            </div>
            <h4 class="font-weight-bold dark-grey-text mt-4">John Doe</h4>
            <h6 class="font-weight-bold blue-text my-3">Web Developer</h6>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid commodi.
            </p>
            <div class="orange-text">
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="testimonial">
            <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle z-depth-1 img-fluid">
            </div>
            <h4 class="font-weight-bold dark-grey-text mt-4">Maria Kate</h4>
            <h6 class="font-weight-bold blue-text my-3">Photographer</h6>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum.
            </p>
            <div class="orange-text">
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
            </div>
          </div>
        </div>
      </div>
    </section>







    <section class="feature-comparison my-5">
      <h2 class="text-center my-5">Whatever your goals, we've got a plan for you</h2>
      <p class="lead grey-text text-center w-responsive mx-auto mb-5">
        Whether you want a simple profile listing for your business, or an advanced
        listing with direct support and exposure to thousands of signing agencies
        and signing offers, we've got a plan to match your business goals.
      </p>
      <div class="row">
        <div class="col-sm">
          <table class="table table-sm">
            <thead class="unique-color-dark white-text">
              <tr>
                <th scope="col" class="font-weight-bold">Feature</th>
                <th scope="col" class="font-weight-bold">Free</th>
                <th scope="col" class="font-weight-bold">Basic</th>
                <th scope="col" class="font-weight-bold">Premium</th>
                <th scope="col" class="font-weight-bold">Feature Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="font-weight-bold">Profile Listing</th>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td>Public-facing, simple listing invisible to our signing agency and title agency partners.</td>
              </tr>
              <tr>
                <th scope="row" class="font-weight-bold">Forum Access</th>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td>Collaborate with other notaries on our web forums.</td>
              </tr>
              <tr>
                <th scope="row" class="font-weight-bold">Resource Access</th>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td>Resource database that contains up to date notary templates and materials.</td>
              </tr>
              <tr>
                <th scope="row" class="font-weight-bold">Basic Support</th>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td>Support for basic questions about the website, membership, or your notary profile.</td>
              </tr>
              <tr>
                <th scope="row" class="font-weight-bold">Signing Agency Partner Listing</th>
                <td><i class="fa fa-minus text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td>Graphically enhanced notary listing that is visible to our signing agency and title agency partners.</td>
              </tr>
              <tr>
                <th scope="row" class="font-weight-bold">Completion Report Access</th>
                <td><i class="fa fa-minus text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td>Submit your completion reports right from your phone, laptop or desktop.</td>
              </tr>
              <tr>
                <th scope="row" class="font-weight-bold">Agency Review Access</th>
                <td><i class="fa fa-minus text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td>View notary feedback about experiences working with different signing agencies.</td>
              </tr>
              <tr>
                <th scope="row" class="font-weight-bold">24/7 Customer Support</th>
                <td><i class="fa fa-minus text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-minus text-warning" aria-hidden="true"></i></td>
                <td><i class="fa fa-check-square text-warning" aria-hidden="true"></i></td>
                <td>24/7 notary support line operated by notaries that you can call when you have signing questions.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>









    <section class="registration-options">
      <h2 class="text-center my-5">Start growing your notary business today.</h2>
      <p class="lead grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam.</p>
      <div class="row">
        <div class="col-md-4 pb-5">
          <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <h5 class="text-primary font-weight-bold">Free Membership</h5>
                <h3 class="card-title pt-2"><strong>$0/month</strong></h3>
                <p>Our free plan is always <strong>FREE</strong>. There will never be a charge for our basic services.
                  <ul class="list-group">
                    <li class="list-group-item registration-item-free">Free forum access</li>
                    <li class="list-group-item registration-item-free">Free public listing</li>
                    <li class="list-group-item registration-item-free">Free notary resource access</li>
                  </ul>
                </p>
                <%= link_to "", class: "btn btn-primary font-weight-bold free-registration-btn", data: { toggle: "modal", 
                  target: "#free-registration-modal" } do %>
                  <i class="fa fa-user-plus left"></i> Sign up for free
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-5">
          <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <h5 class="text-default font-weight-bold">Basic Membership</h5>
                <h3 class="card-title pt-2"><strong>$5/month or $45/year</strong></h3>
                <p>Buy 1 year of basic and get 3 months <strong>FREE</strong>.
                  <ul class="list-group">
                    <li class="list-group-item registration-item-basic">1</li>
                    <li class="list-group-item registration-item-basic">2</li>
                    <li class="list-group-item registration-item-basic">3</li>
                  </ul>
                </p>
                <%= link_to "", class: "btn btn-default font-weight-bold basic-registration-btn", data: { toggle: "modal", 
                  target: "#basic-registration-modal" } do %>
                  <i class="fa fa-user-plus left"></i> Sign up for basic
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-5">
          <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <h5 class="text-warning font-weight-bold">Premium Membership</h5>
                <h3 class="card-title pt-2"><strong>$10/month or $99/year</strong></h3>
                <p>Buy 1 year of premium and get 2 months <strong>FREE</strong>.
                  <ul class="list-group">
                    <li class="list-group-item registration-item-premium">All the benefits of free membership</li>
                    <li class="list-group-item registration-item-premium">All the benefits of basic membership</li>
                    <li class="list-group-item registration-item-premium">Plus <strong>24/7</strong> real-time notary support</li>
                  </ul>
                </p>
                <%= link_to "", class: "btn btn-warning font-weight-bold premium-btn", data: { toggle: "modal", 
                  target: "#premium-registration-modal" } do %>
                  <i class="fa fa-user-plus left"></i> Sign up for premium
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>

<div class="modal fade" id="free-registration-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold black-text">Free Membership</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <%= render 'registration_free' %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="basic-registration-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <%= render 'registration_basic' %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="premium-registration-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <%= render 'registration_premium' %>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm">Launch
    Modal Register Form</a>
</div>











    </section>
  </div>
</main>
